.scrollable-container {
    height: 100vh; /* Set the height to 100% of the viewport height */
    overflow-y: scroll; /* Enable vertical scrolling */
  }
  
  /* Customize the scrollbar appearance */
  .scrollable-container::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  /* Track */
  .scrollable-container::-webkit-scrollbar-track {
    background: #000; /* Set the background color of the scrollbar track */
  }
  
  /* Thumb */
  .scrollable-container::-webkit-scrollbar-thumb {
    background: #111111; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Set the border radius of the thumb */
  }
  
  /* Thumb on hover */
  .scrollable-container::-webkit-scrollbar-thumb:hover {
    background: #555; /* Set the color of the thumb on hover */
  }
  
  /* Corner */
  .scrollable-container::-webkit-scrollbar-corner {
    background: #000; /* Set the background color of the scrollbar corner */
  }


  .app-container {
    background-image: url('./images/honda.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
 
  }
  

.backGround{
    background-color: #000;
}  

.flex-backGround{
    border-radius: 3px;
    background-color: #153356e7;
    box-shadow: 0px 0px 5px 3px rgb(217 217 217);
    color: white;
}  
.flex-backGround:hover{
    border: 0.5px solid rgb(255, 255, 255);
    scale: 1.055;
}
h5{
    color: white;
}

@keyframes slidefromTop{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}
.upback{
    animation:  slidefromTop 0.5s ease-in;
    background-color: rgba(22, 22, 22, 0.726);
    color: white;
    border-radius: 20px;
}
.nav{
    background-color: #153356e0;
    color: white;
}

li{
    color: rgb(228, 228, 228);
    font-size: medium;
}

h3{
    color: white;
}

.most-inner{
    padding: 10%;
}

.grid-inner{
    padding: 5%;
}

.inner{
    padding-left: 20%;
    padding-right: 20%;
}

.txtbck{
    background-color: rgb(22, 22, 22);
    border-radius: 20px;
}

.flex{
    display: flex;
    justify-content: space-around;
    background-color: rgb(22, 22, 22);;
    border-radius: 20px;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-icons{
    height: 40px;
    width: 40px;
    margin: 0px 10px;
}

.footer{
    background-color: #3c92f559;
    display: flex;
    justify-content: center
}
.foot-flex{
    color: white;
    display: flex;
    width: 60%;
    padding: 1%;
}

.scale:hover{
    scale: 1.055;
}


.major-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fflex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.ffflex{
    display: flex;
    align-items: center;
    border: 40px;
    flex-direction: row;
    padding: 3%;
    border-bottom: 0.5px dashed  rgb(255, 255, 255);

    
}


.ttop{
    border: 40px;
    border-radius: 15%;
    
    box-shadow: 0px 0px 3px 2px rgb(217 217 217);
}
.ffflex:hover{
    scale: 1.08;
}
.bo{
    border: 2px;
    border-color: white;
    background-color: #000;
    padding-left: 15%;
    padding-right: 15%;
}
.pad{
    padding-left: 10%;
}

.carp{
    height: 144px;
    width: 144px;
}
hr{
    color: white;
}

.gflrx{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.im-div{
    padding-left: 10%;

}
.gi{
    width: 144px;
    width: 144px;
}
.l-flex{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.des{
    animation:  slidefromTop 0.5s ease-in;
    background-color: rgba(22, 22, 22, 0.726);
    color: white;
    border-radius: 20px;
    padding: 25px;
    width: 40%;
}

.img-f{
    display: flex;
    justify-content: center;
}

.just{
    text-align: justify;
    color: #969696;
}

.search{
    margin-left: 47%;
}

.se{
    background-color: transparent;
    color: white;
    box-shadow: 0px 0px 1.5px 1.5px rgb(217 217 217);

}


.top-img-container {
    position: relative;
    width: 100%;
  }
  
  .background-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }

  .st{
    height: 35%;
    width: 100%;
    background-color: #000000a1;
  }